

<div>

    <form asp-controller="Home" asp-action="AddPhone" method="post">
        <p>
            Name: <br />
            <input name="Name"/>
        </p>
        <p>
            Weigt: <br />
            <input name="Weight" type="number" />
        </p>
        <p>
            Price: <br />
            <input name="Price" type="number" />
        </p>
        <p>
            Year: <br />
            <input name="Year" type="number" />
        </p>
        <p>
            MemoryGB: <br />
            <input name="MemoryGB" type="number" />
        </p>

        <button class="btn btn-primary" type="submit">Add Phone</button>

    </form>
</div>

       