

<div>

    <form asp-controller="Home" asp-action="DeletePhone" method="post">
        <p>
            Id: <br />
            <input id="Id" type="number" />
        </p>

        <button class="btn btn-primary" type="submit">Remove Phone</button>

    </form>
</div>

