

    <form asp-controller="Home" asp-action="SearchPhone" method="post">
       <div class="form-group">
           <label for="id">Phone Id</label>
           <input type="text" class="form-control" id="id" name="id"></input>
       </div>

        <button type="submit" class="btn btn-primary">Search</button>

    </form>


