
<div>

    <form asp-controller="Home" asp-action="SearchPhone" method="post">
        <p>
            Phone Id: <br />
            <input id="id" name="id" />
        </p>
       
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>

